<h1>OAuth 2 Client Test Application <a href="https://github.com/ZenCocoon/testoauth2client">Source</a></h1>
<p>To be tested with a <a href="http://testoauth2provider.heroku.com">OAuth 2 Provider Test Application</a></p>
<% if current_user %>
  Currently logged-in with <%= current_user.email %>
  <%= link_to "Sign Out", signout_path %>
  <pre>
    <%= current_user.to_yaml %>
  </pre>
<% else %>
  <ul>
    <li><%= link_to "Sign in with TestOAuth2Strategy", "/auth/testoauth2strategy" %></li>
  </ul>
<% end %>