<!DOCTYPE html>
<html>
<head>
  <title>TestOAuth2Client</title>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
